backend/.dockerignore
backend/.git*
backend/venv
backend/media
backend/.env_example
backend/build.sh
backend/Dockerfile.backend
backend/docker-compose.yml
backend/Makefile
backend/README.md
backend/vercel.json