SECRET_KEY = secret
DJANGO_SUPERUSER_EMAIL = admin@admin.com
DJANGO_SUPERUSER_PASSWORD = admin1

SQL_DATABASE = chitozavrik
SQL_USER = admin
SQL_PASSWORD = admin
SQL_HOST = localhost
SQL_PORT = 5432

EMAIL_HOST = outlook.office365.com
EMAIL_USER = chitozavrik@outlook.com
EMAIL_PASSWORD = Ch1tozavrik

CLOUD_NAME = dxy59ulvk
API_KEY = 278962861511889
API_SECRET = oQ84yvZvZtiRnXZJJSATiGvIel8