@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.text {
  margin-bottom: 42px;
  font-size: 20px;
  font-weight: 400;

  @include breakpoint(tablet) {
    padding-left: 4px;
    width: 357px;
  }
}

.inputs-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;

  @include breakpoint(tablet) {
    gap: 17px;
    margin-bottom: 44px;
  }

  label {
    span {
      padding-left: 4px;
    }
  }
}

.form-footer {
  position: relative;

  @include breakpoint(false, tablet) {
    margin-top: 0;
  }
}

.iconDone {
  margin: 0 auto;
  margin-top: 98px;
  margin-bottom: 34px;

  @include breakpoint(tablet) {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.textDone {
  text-align: center;
}

.title {
  margin-bottom: 72px;

  @include breakpoint(tablet) {
    margin-bottom: 26px;
  }
}
