@import '../../../../scss/utils/variables';
@import '../../../../scss/utils/mixin';

.password {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputs-group {
  width: 505px;
  display: flex;
  flex-direction: column;
  gap: 46px;

  & span {
    font-size: 14px;
    padding-left: 4px;
    font-weight: 400;
  }
}

.error {
  padding-left: 4px;
  color: $error;
}
