@import 'scss/utils/mixin';

%title {
  font-family: var(--montserrat-alternates-font);
  font-weight: 600;
  text-align: center;
}

%title-footer {
  font-family: var(--raleway-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

:where(.text-h1) {
  @extend %title;
  font-size: 32px;

  @include breakpoint(desktop) {
    font-size: 52px;
  }
}

:where(.text-h2) {
  @extend %title;

  font-size: 24px;
  letter-spacing: -0.72px;
}

:where(.text-h3) {
  @extend %title;

  font-size: 24px;
}

:where(.text-h5) {
  @extend %title;

  font-size: 18px;
}

:where(.text-h6) {
  @extend %title;
  font-weight: 400;
  font-size: 16px;
}

:where(.text-body) {
  font-family: inherit;
}

:where(.text-footer-mail) {
  @extend %title-footer;
  @include breakpoint(mobile) {
    font-size: 14px;
  }
  font-size: 18px;
}

:where(.text-footer-end) {
  @extend %title-footer;
  font-size: 12px;
  @include breakpoint(desktop) {
    font-size: 16px;
  }
}

:where(.text-navbar) {
  @extend %title-footer;
  color: #{getColor(blue, 40)};
  font-size: 12px;
  font-weight: 500;
  @include breakpoint(tablet) {
    font-size: 14px;
  }

  @include breakpoint(desktop) {
    font-size: 16px;
  }
}
