@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.arrow_container {
  width: 48px;
  height: 48px;
  padding: 6px;
  background-color: $secondary;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.arrow_container:hover,
.arrow_container:focus {
  background-color: $secondary-btn;
}

.arrow_container:active {
  background-color: getColor(yellow, 30);
}

.arrow_svg {
  transition: fill 0.3s;
}

.arrow_container:hover .arrow_svg,
.arrow_container:focus .arrow_svg {
  fill: #1e1e1e;
}

.arrow_container:active .arrow_svg {
  fill: #1e1e1e;
}
