@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.section {
  background-color: $primary;
  background-image: url('/images/background-wave-reverse.svg'),
    url('/images/background-donate-wave.svg'), url('/images/background-donate-image.svg');
  background-repeat: repeat-x, no-repeat, no-repeat;
  background-position:
    center top,
    center calc(100% + 1px),
    center calc(100% + 52px);
  background-size:
    auto 27px,
    getBreakpoint(mobile) auto,
    338px auto;

  @include breakpoint(tablet) {
    background-position:
      center top,
      center calc(100% + 1px),
      center calc(100% + 87px);
    background-size:
      auto 54px,
      getBreakpoint(tablet) auto,
      566px auto;
  }

  @include breakpoint(laptop) {
    background-position:
      center top,
      center calc(100% + 1px),
      center calc(100% + 130px);
    background-size:
      auto 54px,
      getBreakpoint(tablet) auto,
      850px auto;
  }

  @include breakpoint(desktop) {
    background-image: url('/images/background-wave-reverse.svg'),
      url('/images/background-donate-wave.svg'), url('/images/background-donate-image.svg'),
      url('/images/background-donate-plane.svg'), url('/images/background-donate-curve-line.svg');
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position:
      center top,
      center calc(100% + 1px),
      calc(50% - 53px) calc(100% + 176px),
      -100px 178px,
      calc(100% + 10px) 35px;
    background-size:
      auto 102px,
      getBreakpoint(desktop),
      1200px auto,
      415px,
      210px;
  }
}

.container {
  padding-top: 48px;
  padding-bottom: 113px;
  color: $white;

  @include breakpoint(tablet) {
    --padding-x: 158px;
    padding-top: 72px;
    padding-bottom: 139px;
  }

  @include breakpoint(laptop) {
    --padding-x: 292px;
    padding-top: 101px;
    padding-bottom: 179px;
  }

  @include breakpoint(desktop) {
    --padding-x: 408px;
    padding-top: 136px;
    padding-bottom: 202px;
  }
}

.title {
  @include breakpoint(desktop) {
    font-size: 32px;
  }
}

.text {
  margin-top: 24px;

  @include breakpoint(tablet) {
    margin-top: 32px;
  }

  @include breakpoint(desktop) {
    margin-top: 32px;
    font-size: 20px;
  }
}

.button {
  width: 100%;
  margin-top: 36px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 18px;

  @include breakpoint(tablet) {
    margin-top: 42px;
    font-size: 24px;
  }

  @include breakpoint(desktop) {
    margin-top: 48px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
