@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.group {
  --text-color: #{getColor(neutral, 30)};
  --border-color: #{$primary};
  --group-gap: 4px;

  pointer-events: none;
  position: relative;

  width: 100%;

  font-family: var(--montserrat-alternates-font);
  color: var(--text-color);

  @include setTransition(color);

  &[data-status='filled'] {
    --text-color: #{getColor(neutral, 10)};
    --border-color: #{getColor(neutral, 20)};
  }

  &:focus-within {
    --text-color: #{$primary};
    --border-color: #{$primary};
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: var(--group-gap);

  font-size: 14px;
}

.input-group {
  position: relative;

  display: flex;

  align-items: center;
  gap: 8px;

  width: 100%;
  height: 56px;

  padding: 12px 16px;

  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: $white;

  @include setTransition(border-color);
}

.input {
  pointer-events: auto;
  flex-grow: 1;

  font-family: var(--raleway-font);
  font-size: 16px;
  font-variant-numeric: lining-nums proportional-nums;
  color: inherit;

  border: none;
  background: none;
  outline: none;

  // Hide arrows in type=number
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    appearance: textfield;
  }
}

.icon {
  pointer-events: fill;
  --icon-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--icon-size);
  height: var(--icon-size);

  & svg {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  @include breakpoint(tablet) {
    --icon-size: 24px;
  }
}

.message {
  position: absolute;

  bottom: calc(-1 * var(--group-gap));

  font-size: 12px;

  transform: translateY(100%);

  @include breakpoint(tablet) {
    font-size: 14px;
  }
}
