@import 'scss/utils/variables';
@import 'scss/utils/mixin';

.sidebar {
  width: 288px;
  padding: 0 24px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  flex-shrink: 0;
  background: $primary;

  .logo {
    width: 100%;
    display: flex;
    padding: 20px 12px 0 12px;
    align-items: center;
    align-self: stretch;
  }

  & button {
    font-size: 18px;
    height: 56px;
  }
}
