.loader {
  // Only in rgb
  --spinner-color: 0 0 0;

  display: grid;

  width: 20px;
  aspect-ratio: 1;

  border-radius: 50%;
  background:
    linear-gradient(
        0deg,
        rgb(var(--spinner-color) / 50%) 30%,
        #0000 0 70%,
        rgb(var(--spinner-color) / 100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgb(var(--spinner-color) / 25%) 30%,
        #0000 0 70%,
        rgb(var(--spinner-color) / 75%) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: animation 1s infinite steps(12);
}
.loader::before,
.loader::after {
  content: '';
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}
.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes animation {
  100% {
    transform: rotate(1turn);
  }
}
